<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/navbar.html :: head">
    <meta charset="UTF-8">
    <title>About us</title>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <script th:inline="javascript"></script>
</head>
<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>

<div class="border border-secodary" style="margin: 100px; width: auto; padding: 1px;">

    <div class="container text-center" style="padding-top: 80px; padding-bottom: 80px">

        <h1 class="display-3">About us</h1>
        <hr>
        <p>This is a project by: Muhammed Ali Geldi, Ali Aslan & Ai-Hong Ky</p>
        Current time according to model:
        <p th:text=" ${localdatetime} ">Current local date and time</p>

        <div class="card bg-light mb-3">
            <div class="card-header font-weight-bold text-uppercase">Project goals</div>
            <div class="card-body">
                <p class="card-text">
                <ol>
                    <li>Enable (legal) torrent sharing/down- and uploading</li>
                    <li> Build a solid foundation for a torrent-caring community</li>
                    <li>Rating system for torrents</li>
                </ol>
                </p>
            </div>
        </div>

        <div class="accordion" id="PersonaInfo">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            User Persona Jürgen
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#PersonaInfo">
                    <div class="card-body">

                        <p class="font-weight-bold text-uppercase">Demographics</p>
                            <ul class="list-unstyled">
                                <li>Age: 22</li>
                                <li>Lives in a dorm in Berlin, Germany, together with other students</li>
                                <li>Is a student at HTW Berlin</li>
                                <li>Works part-time, low income</li>
                            </ul>

                        <p class="font-weight-bold text-uppercase">Behaviour</p>
                            <ul class="list-unstyled">
                                <li>Likes peer to peer networking, hence has huge interest in torrents</li>
                                <li>IT geek/nerd</li>
                            </ul>

                        <p class="font-weight-bold text-uppercase">Needs and Goals</p>
                            <ul class="list-unstyled">
                                <li>Aspires to become a software engineer</li>
                                <li>Wants to find legal and safe torrents</li>
                                <li>Wants to be member of a community and engage with them</li>
                                <li>Hopes for a more positive public opinion of torrents</li>
                            </ul>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            User Persona Peter
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#PersonaInfo">
                    <div class="card-body">

                        <p class="font-weight-bold text-uppercase">Demographics</p>
                            <ul class="list-unstyled">
                                <li>Age: 35</li>
                                <li>Lives alone in Hamburg, Germany</li>
                                <li>Works full time as a security expert</li>
                                <li>Part-time contributor to open source projects</li>
                            </ul>

                        <p class="font-weight-bold text-uppercase">Behaviours</p>
                            <ul class="list-unstyled">
                                <li>Loves peer to peer networking (torrents)</li>
                                <li>Likes building & hosting web-pages and open source</li>
                                <li>IT geek/nerd</li>
                                <li>Security aware</li>
                            </ul>

                        <p class="font-weight-bold text-uppercase">Needs and Goals</p>
                            <ul class="list-unstyled">
                                <li>Is driven by FOSS - free and open source software</li>
                                <li>Wants to discuss torrents</li>
                                <li>Would love to have one place to find torrents many different of linux iso's (other distributions)</li>
                                <li>Hopes to change public perception of torrents</li>
                            </ul>

                    </div>
                </div>
            </div>

            <div>
                <p>
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseInfo" style="margin-top: 15px">
                        Note
                    </button>
                </p>
                <div class="collapse show" id="collapseInfo">
                    <div class="card card-body">
                        Torrents themselves are not illegal, they are just a way
                        of sharing files with other people, regardless
                        of whether they're legal or illegal.
                        Since torrents utilize peer-to-peer networking, it's possible
                        to "host" files without actually having a server.
                        This project is obviously not discussing the legality or ethicality of
                        piracy. Piracy can be done with or without torrents! This is not the
                        topic of this project.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>