<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a class="active" href="/" >Home</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="container">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Welcome"></h3>
        <br/>

        <input type="text" id="email" name="email"  th:placeholder="Email"
               class="form-control" /> <br/>
        <input type="password"  th:placeholder="Password"
               id="password" name="password" class="form-control" /> <br />

        <div align="center" th:if="${param.error}">Email or Password invalid, please verify
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
    <form action="/register" method="get" class="form-signin">
        <button class="btn btn-lg btn-primary btn-block" name="Register" type="submit">New? Register here!</button>
    </form>
</div>
</body>
</html>