<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/navbar.html :: head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>View the torrent</title>
</head>
<body>
<div th:replace="fragments/navbar.html :: navbar"></div>
<div th:object="${torrent}">
    <div th:text="${torrent.getName()}"></div>
    <div th:text="${torrent.getDescription()}"></div>
    <div th:text="${torrent.getUser().getEmail()}"></div>
    <div th:text="${torrent.getTorrentID()}"></div>
    <form action="/torrent/download" method="get">
        <label>
            <input hidden type="text" name="filename" th:value="${torrent.getName()}">
        </label>
        <div>
            <button type="submit" id="downloadbtn"
                    class="btn btn-outline-secondary my-2 my-sm-0">Download
            </button>
        </div>
    </form>
    <div th:if="${principal}">
        <div th:if="${principal.getName().equals((torrent.getUser().getEmail()))}">
            <form action="/torrent/delete" method="post">
                <input type="text" name="filename" th:value="${torrent.getName()}" hidden="hidden">
                <button type="submit" id="deletebtn"
                        class="btn btn-outline-secondary my-2 my-sm-0">Delete this torrent
                </button>
            </form>
        </div>

    </div>
</div>
</body>
</html>