<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar.html :: head">
    <title>Upload Torrent</title>
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div th:insert="fragments/notifier.html :: notifier"></div>

<div class="border border-secodary" style="margin: 100px; width: auto; padding: 220px; text: left">
    <span class="container text-center" style="padding-top: 80px; padding-bottom: 80px"></span>
    <h1 th:if="${param.successMessage}" class="display-4">You have successfully uploaded a torrent!</h1>
    <hr th:if="${param.successMessage}">

    <div class="text-left">
        <span class="font-weight-light col-md-3 align-baseline"
              style="font-size: x-large; margin-left: 10%">Torrent ID:</span>
        <span class="container align-baseline " style="font-size: large" th:text="${torrent.getTorrentID()}"></span>
    </div>

    <div class="text-left">
        <span class="font-weight-light col-md-3 align-baseline" style="font-size: x-large; margin-left: 10%">Torrent Name:</span>
        <span class="align-baseline" style="font-size: large" th:text="${torrent.getName()}"></span>
    </div>

    <div class="text-left">
        <span class="font-weight-light col-md-3 align-baseline" style="font-size: x-large; margin-left: 10%">Description:</span>
        <span class="container align-baseline "
              style="font-size: large"
              th:text="${torrent.getDescription()}"></span>
    </div>

    <div class="text-left">
        <span class="font-weight-light col-md-3 align-baseline" style="font-size: x-large; margin-left: 10%">Uploaded by:</span>
        <span class="container align-baseline " style="font-size: large"
              th:text="${torrent.getUser().getEmail()}"></span>
    </div>
    <form action="/torrent/download" method="get">
        <label>
            <input hidden type="text" name="filename" th:value="${torrent.getName()}">
        </label>
        <div>
            <button type="submit" id="downloadbtn"
                    class="btn btn-secondary my-2 my-sm-0">Download
            </button>
        </div>
        <div th:if="${principal != null && user != null}">
            <div th:if="${principal.getName().equals((user.getEmail()))}" class=".col-auto">
                <form action="/torrent/delete" method="post">
                    <input type="text" name="filename" th:value="${torrent.getName()}" hidden="hidden">
                    <button type="submit" id="deletebtn"
                            class="btn btn-outline-secondary my-2 my-sm-0">Delete
                    </button>
                </form>
            </div>
        </div>
    </form>

    <hr>
    <form th:action="@{/torrent/rate}" method="post" style="margin: 100px; float: left">
        <input type="text" name="torrentid" class="d-none" th:value="${torrent.getTorrentID()}">
        <input type="text" name="rating" style="outline-color: goldenrod">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">RATE ME</button>
        <div th:value="${torrent.getRating()}" th:text="${torrent.getRating()}" style="font-weight: lighter"></div>
    </form>
</div>
</div>
</div>
<div th:insert="fragments/navbar.html :: footer"></div>
</body>
</html>