<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar.html :: head"></head>
<head>
    <title>Upload Torrent</title>
    <link rel="stylesheet" href="/css/starrating.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
<nav th:replace="fragments/navbar.html :: navbar"></nav>
<div th:insert="fragments/notifier.html :: notifier"></div>

<div class="border rounded" style="margin: 100px; width: auto; padding: 50px; text: left;">
    <span class="container text-center" style="padding-top: 80px; padding-bottom: 80px"></span>
    <h1 th:if="${param.successMessage}" class="display-4 text-center">You have successfully uploaded a torrent!</h1>
    <div class="text-center border-bottom">
        <h1 class="display-3">Torrent View</h1>
    </div>


    <div class="text-left mt-1">
        <span class="font-weight-light col-md-3 align-baseline"
              style="font-size: x-large; margin-left: 10%">Torrent ID:</span>
        <span class="container align-baseline " style="font-size: large" th:text="${torrent.getTorrentID()}"></span>
    </div>

    <div class="text-left">
        <span class="font-weight-light col-md-3 align-baseline" style="font-size: x-large; margin-left: 10%">Torrent Name:</span>
        <span class="align-baseline" style="font-size: large" th:text="${torrent.getName()}"></span>
    </div>

    <div class="text-left">
        <span class="font-weight-light col-md-3 align-baseline" style="font-size: x-large; margin-left: 10%">Description:</span>
        <span class="container align-baseline "
              style="font-size: large"
              th:text="${torrent.getDescription()}"></span>
    </div>

    <div class="text-left mb-1">
        <span class="font-weight-light col-md-3 align-baseline" style="font-size: x-large; margin-left: 10%">Uploaded by:</span>
        <span class="container align-baseline " style="font-size: large"
              th:text="${torrent.getUser().getEmail()}"></span>
    </div>
    <div class="d-flex pt-2 pb-2 border-top justify-content-center">
        <table>
            <tr>
                <form action="/torrent/download" method="get">
                    <label>
                        <input hidden type="text" name="filename" th:value="${torrent.getName()}">
                    </label>
                    <td>
                        <button type="submit" id="downloadbtn"
                                class="btn btn-secondary my-2 my-sm-0">Download
                        </button>
                    </td>
                </form>

                <td>
                    <div th:if="${principal != null && user != null}">

                        <div th:if="${principal.getName().equals((torrent.getUser().getEmail()))}">
                            <form action="/torrent/delete" method="post">
                                <input type="text" name="filename" th:value="${torrent.getName()}" hidden="hidden">
                                <button type="submit" id="deletebtn"
                                        class="btn btn-danger my-2 my-sm-0">Delete
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <form th:action="@{/torrent/rate}" method="post">
        <input type="text" name="torrentid" class="d-none" th:value="${torrent.getTorrentID()}">
        <div class="container border-top pt-1">
            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                <input type="radio" id="star5" name="rating" value="5"
                       th:checked="${previousRating.equals(5.0)}"/><label for="star5"
                                                                          title="Perfect!"></label>
                <input type="radio" id="star4" name="rating" value="4"
                       th:checked="${previousRating.equals(4.0)}"/><label for="star4"
                                                                          title="Good"></label>
                <input type="radio" id="star3" name="rating" value="3"
                       th:checked="${previousRating.equals(3.0)}"/><label for="star3"
                                                                          title="Okay"></label>
                <input type="radio" id="star2" name="rating" value="2"
                       th:checked="${previousRating.equals(2.0)}"/><label for="star2"
                                                                          title="Not good"></label>
                <input type="radio" id="star1" name="rating" value="1"
                       th:checked="${previousRating.equals(1.0)}"/><label for="star1"
                                                                          title="Terrible!"></label>
            </div>
        </div>
        <div class="d-flex pb-2 justify-content-center">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">RATE ME</button>
        </div>
    </form>
    <div class="d-flex rounded border-top pt-2 justify-content-center"
         th:text="'Current User Rating: ' + ${torrent.getRating()}">
    </div>
    <div th:insert="fragments/navbar.html :: footer"></div>
</body>
</html>