<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload Torrent</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</div>
<div class="row col-lg-4 col-lg-offset-4"
     style="margin-top: 40px; background-color: #fff; padding: 20px; border: solid 1px #ddd;">
    <form autocomplete="off" enctype="multipart/form-data" th:action="@{/torrent/upload}" th:object="${description} "
          method="post"
          class="form-signin" role="form">
        <h3 class="form-signin-heading">Registration Form</h3>

        <div>
            <table>
                <tr>
                    <td>Torrent to upload:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" name="description"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </div>
    </form>
</div>
</body>
</html>