<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/navbar.html :: head">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script th:inline="javascript"></script>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
          rel="stylesheet" type="text/css"/>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</head>
<body>
<nav th:insert="fragments/navbar.html :: navbar"></nav>
<div th:insert="fragments/notifier.html :: notifier"></div>

<div class="row col-lg-8 col-lg-offset-8" th:if="${principal.getName() == useremail}"
     style="margin: auto; width: 80%; padding: 100px;">
    <div class="container-fluid border border-secodary" style=" width: auto; padding: 20px; text: left">
        <span class="container text-center" style="padding-top: 80px; padding-bottom: 80px">

        <form autocomplete="off" enctype="multipart/form-data" th:action="@{/user/profile}" th:object="${description}"
              method="post"
              class="form-signin" role="form">
            <h3 class="form-signin-heading display-3">Profile</h3>
            <hr>
            <input type="file" name="file" class="custom-file-input" id="customFileLang" onchange="readURL(this)"/>

            <div>
                <table>

                    <tr>
                        <div class="profilePic">
                            <input type='file' name="file" onchange="readURL(this);" />
                            <img id="blah" src="/images/pirateprofile.png" alt="your image" style="width: 80%"/>

                          
                            <hr>
                            <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal"
                                    data-target="#editProfileModal">Edit Profile</button>
                            <hr>
                        </div>
                    </tr>

                    <table class="table table-bordered table-light">
                            <tr class="font-weight-light">
                                <th scope="row">Username: </th>
                                <td colspan="4" style="font-size: large" th:text="${user.getUsername()}"></td>
                            </tr>

                            <tr class="font-weight-light">
                                 <th scope="row">E-Mail: </th>
                                <td colspan="4" style="font-size: large" th:text="${user.getEmail()}"></td>
                            </tr>

                            <tr class="font-weight-light">
                                <th scope="row">Gender: </th>
                                <td colspan="4" style="font-size: large" th:text="${user.getGender()}"></td>
                            </tr>

                            <tr class="font-weight-light">
                                <th scope="row">Surname: </th>
                                <td colspan="2" style="font-size: large" th:text="${user.getSurname()}"></td>
                                <th scope="row">Lastname: </th>
                                <td colspan="2" style="font-size: large" th:text="${user.getName()}"></td>
                            </tr>

                            <tr class="font-weight-light">
                                <th scope="row">About Me: </th>
                                <td colspan="4" style="font-size: large" th:text="${user.getDescription()}"></td>
                            </tr>
                    </table>

                    <!--Modal-->
                    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog"
                         aria-labelledby="editProfileModalTitle" aria-hidden="true">
                       <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Edit Profile</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                   <div class="custom-file">
                                       <input type="file" name="file" class="custom-file-input" id="inputGroupFile02">
                                       <label class="custom-file-label"
                                              for="customFileLang">Change profile picture...</label>
                             </div>
                                <tr>
                                    <div class="form-group" th:object="${gender}">
                                        <label for="FormControlTextarea2" style="float:left">Gender: </label>
                                        <input class="form-control" name="gender" id="FormControlTextarea2"/>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="form-group">
                                        <label for="FormControlTextarea1" style="float: left">About me: </label>
                                        <textarea class="form-control" name="description" id="FormControlTextarea1"
                                                  rows="3"
                                                  style="margin: auto">
                                        </textarea>
                                    </div>
                                </tr>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="Upload" id="uploadbtn" class="btn btn-outline-secondary">Save changes</button>
                              </div>
                            </div>
                          </div>
                    </div>
                    <!-- Modal Ende -->
                </table>
            </div>
        </form>
        </span>
    </div>
</div>
<div th:insert="fragments/navbar.html :: footer"></div>
</body>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#inputGroupFile02').on('change', function () {
        var fileName = $(this).val().substring(12);
        $(this).next('.custom-file-label').html(fileName);
    })
</script>

